.detail-payment-table {
    font-size: 1.2rem;
    width: 100%;
   
    th {
     text-align: right;
     padding: 0.3rem;
    }
    td {
     padding: 0.3rem;
     font-family: "Poppins", sans-serif;
    }
    // @include breakpoint(992) {
    //  th,
    //  td {
    //   font-size: 0.8rem;
    //  }
    // }
   }
   