.detail {
    position: relative;
  
    .quantity {
      position: absolute;
      right: 0;
      background: red;
      color: white;
      padding: 1rem 2rem;
      font-size: 2rem;
      border-radius: 1rem;
  
      &::after {
        content: "Còn";
        position: absolute;
        font-size: 1rem;
        top: 0;
        left: 4%;
      }
    }
  
    &-description {
  
      font-family: 'Roboto Slab', serif;
      font-size: 1.5rem;
      font-weight: 600;
  
      .ant-form-item-control-input-content {
        font-family: 'Roboto Slab', serif;
        font-size: 1.1rem;
        font-weight: 600;
  
      }
    }
  
    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 3.1rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
  
    .created {
      font-family: "Poppins", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .category,
      .nsx {
        color: blue;
        font-weight: 600;
      }
    }
  
    .price{
      
      text-align: center !important;
      font-family: "Poppins", sans-serif;
      span{
      margin-top: 3rem;
      font-weight: bold;
      font-size: 3rem;
      }
      
    }
  
   
  }
  