#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    margin-top: 1rem;
    height: 70px;
    overflow: hidden;
    //background: red;
    position: relative;
    cursor: pointer;
  
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 100%;
    }
  
    h1 {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      margin: 0;
      font-weight: bold;
    }
  }
  
  .site-layout .site-layout-background {
    background-color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
  
    // &-start {
    // }
  
    &-center {
      flex: 1;
    }
  
    // &-end {
    // }
  }
  
  .menu-cart {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
  }
  
